{% extends "base.html" %}
{% block title %}Category{% endblock %}

{% block content %}
<div class="mx-auto col-10 col-md-4">
    <div>
        <h1 style="text-align: center;">Category</h1>
    </div>
    
    <hr id="line" style="height: 1%;">

    <form class="form-horizontal" method="post" {%if category_id %} action="/records/categories/{{category_id}}/edit" {%else%} action="/records/categories/register" {%endif%}>
        {% csrf_token %}
        
        {{ form.non_field_errors }}
        
        <div class="form-group mb-3">
            <b>{{form.name.label_tag}}</b>
            {{form.name.errors}}
            {{form.name}}
        </div>
        
        <div class="form-group mb-3">
            <b>{{ form.description.label_tag }}</b>
            {{form.description.errors}}
            {{form.description}}
        </div>
        
        <div class="form-group mb-3">
            <b>{{form.color.label_tag}}</b>
            {{ form.color.errors }} 
            <div class="input-group">
                <span class="input-group-text" id="id_color_span">#</span>
                {{form.color}}
            </div>
        </div>

        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-danger" href="/records/categories">Cancel</a>
    </form>
</div>

<script>
    const colorSelect = document.getElementById('id_color');
    const colorOptions = colorSelect.querySelectorAll('option');

    // Recorre las opciones y establece el color de fondo
    colorOptions.forEach(function(option) {
        const colorValue = option.value;
        option.style.backgroundColor = colorValue;
    });
</script>

<script>
    const select = document.getElementById('id_color');
    const span = document.getElementById('id_color_span');
    const line = document.getElementById('line');
    select.addEventListener('change', function () {
        span.style.backgroundColor = select.value;
        line.style.backgroundColor = select.value;
    });
    span.style.backgroundColor = select.value;
    line.style.backgroundColor = select.value;
</script>
{% endblock %}