{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10"><h1>Categories</h1></div>
        <div class="col-md-2"><a class="btn btn-success" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; " href="/records/categories/register">Add Category</a></div>
    </div>
    
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Color</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% if categories %}
            {% for category in categories %}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category.description}}</td>
                <td><a class="w-50 btn" style="background-color: {{category.color}};"></a></td>
                <td><a class="btn btn-primary" href="/records/categories/{{category.id}}/edit">Edit</a></td>
                <td><a class="btn btn-danger" href="/records/categories/{{category.id}}/delete">Delete</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}