{% extends "base.html" %}
{% block title %}New Record{% endblock %}

{% block content %}
<div class="mx-auto" style="width: 30%">
    <div>
        <h1 id="record-title" style="text-align: center;">Record</h1>
    </div>

    <hr id="line" style="height: 1%;">

    <form method="post" action="/records/record" class="form-horizontal">
        {% csrf_token %}
        {{form.as_p}}
        
        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-danger" href="/records/">Cancel</a>
    </form>

</div>

<script>
    const line = document.getElementById('line');
    const title = document.getElementById('record-title');
    const select = document.getElementById('id_category');

    const categories = {
        {% for category in categories %}
        "{{ category.name }}": "{{ category.color }}",
        {% endfor %}
    };

    if(categories)
    {   
        const categoryOptions = select.getElementsByTagName('option');
        for (const option of categoryOptions) {
            option.style.backgroundColor = categories[option.value] || "#ffffff";
        }
        select.style.backgroundColor = select.value;

        select.addEventListener('change', function () {
            const color = categories[select.value];
            if (color) {
                select.style.backgroundColor = color;
                line.style.backgroundColor = color;
            }
            else
            {
                select.style.backgroundColor = "#ffffff";
                line.style.backgroundColor = "#000000";
            }
        });
    }
</script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/build/js/tempusdominus-bootstrap-4.min.js"></script>

<script>
    $(function () {
        $('#datetimepicker').datetimepicker();
    });
</script>


{% endblock %}