{% extends "base.html" %}
{% block title %}New Record{% endblock %}

{% block content %}
<div class="mx-auto" style="width: 30%">
    <div>
        <h1 id="record-title" style="text-align: center;">Record</h1>
    </div>

    <hr id="line" style="height: 1%;">

    <form method="post" action="/records/record" class="form-horizontal">
        {% csrf_token %}
        {{form.as_p}}
        
        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-danger" href="/records/">Cancel</a>
    </form>

</div>

<script>
    const line = document.getElementById('line');
    const title = document.getElementById('record-title');
    const select = document.getElementById('id_category');
    if(select)
    {
        select.addEventListener('change', function () {
            
            const selectedValue = select.value;
            title.textContent = select.value;

            let color = null;
            {% for category in categories %}
            {% if category.name == select.value  %}
                color = {{category.color}}            
            {% endif %}
            color = {{category.color}};
            {% endfor %}

            title.textContent = select.value;
            if (color && false) {
                select.style.backgroundColor = matchingCategory.color;
                line.style.backgroundColor = matchingCategory.color;
                title.textContent = select.value;
            }
            else
            {
                title.textContent = 'Not found';
            }
        });
    }
    else
    {
        title.textContent = 'Not found';
    }
</script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/build/js/tempusdominus-bootstrap-4.min.js"></script>

<script>
    $(function () {
        $('#datetimepicker').datetimepicker();
    });
</script>


{% endblock %}