{% extends "base.html" %}
{% block title %}{%if expense_id %}Expense{%else%}New Expense{%endif%}{% endblock %}

{% block content %}
<div class="mx-auto col-10 col-md-4">
    <div>
        <h1 id="expense-title" style="text-align: center;">Expense</h1>
    </div>

    <hr id="line" style="height: 1%;">

    <form class="form-horizontal" method="post" {%if expense_id %} action="/records/expenses/{{expense_id}}/edit" {%else%} action="/records/expenses/register" {%endif%}>
        {% csrf_token %}
        
        {{ form.non_field_errors }}

        <div class="form-group mb-3">
            <b>{{ form.title.label_tag }}</b>
            {{ form.title.errors }}
            {{ form.title }}
        </div>

        <div class="form-group mb-3">
            <b>{{ form.is_expense.label_tag }}</b>
            {{ form.is_expense.errors }}
            {{ form.is_expense }}
        </div>

        <div class="form-group mb-3">
            <b>{{ form.category.label_tag }}</b>
            {{ form.category.errors }}
            <div class="input-group mb-3">
                <span class="input-group-text" id="id_category_span">#</span>
                {{ form.category }}
            </div>
        </div>

        <div class="form-group mb-3">
            <b>{{ form.date.label_tag }}</b>
            {{ form.date.errors }}
            {{ form.date }}
        </div>

        <div class="form-group mb-3">
            <b>{{ form.value.label_tag }}</b>
            {{ form.value.errors }}
            {{ form.value }}
        </div>
        
        <div class="form-group mb-3">
            <b>{{ form.description.label_tag }}</b>
            {{ form.description.errors }}
            {{ form.description }}
        </div>
        
        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-danger" href="/records/expenses/">Cancel</a>
    </form>

</div>

<script>
    const select = document.getElementById('id_category');
    const span = document.getElementById('id_category_span');
    const line = document.getElementById('line');

    const categories = {
        {% for category in categories %} "{{ category.name }}": "{{ category.color }}", {% endfor %}
    };

    if(categories)
    {   
        const categoryOptions = select.getElementsByTagName('option');

        for (const option of categoryOptions) {
            option.style.backgroundColor = categories[option.value] || "#ffffff";
        }

        select.addEventListener('change', function () {
            span.style.backgroundColor = categories[select.value] || "#ffffff";
            line.style.backgroundColor = categories[select.value] || "#000000";
        });

        span.style.backgroundColor = categories[select.value] || "#ffffff";
        line.style.backgroundColor = categories[select.value] || "#000000";
    }
</script>

{% endblock %}