{% extends "base.html" %}
{% block title %}New Record{% endblock %}

{% block content %}
<div class="mx-auto col-10 col-md-4">
    <div>
        <h1 id="record-title" style="text-align: center;">Delete record</h1>
    </div>

    <hr id="line" style="height: 1%;">

    <form class="form-horizontal" method="post" action="/records/{{record.id}}/delete">
        {% csrf_token %}
        
        {{ form.non_field_errors }}

        <div class="form-group mb-3">
            <b>Title</b>
            <p class="form-control">{{record.title}}</p>
        </div>

        <div class="form-group mb-3">
            <b>Type</b>
            <p class="form-control">{% if record.is_income == 1 %}Income{% else %}Expense{% endif %}</p>
        </div>

        <div class="form-group mb-3">
            <b>Category</b>
            <p class="form-control" style="background-color: {{record.category__color}};">{{record.category__name}}</p>
        </div>

        <div class="form-group mb-3">
            <b>Date and time</b>
            <p class="form-control">{{record.datetime}}</p>
        </div>

        <div class="form-group mb-3">
            <b>Amount</b>
            <p class="form-control">{{record.value}}</p>
        </div>
        
        <div class="form-group mb-3">
            <b>Description</b>
            <p class="form-control">{{record.description}}</p>
        </div>
        
        <button type="submit" class="btn btn-secondary">Delete</button>
        <a class="btn btn-danger" href="/records/">Cancel</a>
    </form>

</div>

<script>
    const select = document.getElementById('id_category');
    const span = document.getElementById('id_category_span');
    const line = document.getElementById('line');

    const categories = {
        {% for category in categories %} "{{ category.name }}": "{{ category.color }}", {% endfor %}
    };

    if(categories)
    {   
        const categoryOptions = select.getElementsByTagName('option');

        for (const option of categoryOptions) {
            option.style.backgroundColor = categories[option.value] || "#ffffff";
        }

        select.addEventListener('change', function () {
            span.style.backgroundColor = categories[select.value] || "#ffffff";
            line.style.backgroundColor = categories[select.value] || "#000000";
        });

        span.style.backgroundColor = categories[select.value] || "#ffffff";
        line.style.backgroundColor = categories[select.value] || "#000000";
    }
</script>

{% endblock %}