{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h1>Records</h1>
<a class="btn btn-primary" href="/records/register">Add Record</a>

<table class="table">
    <thead>
        <th>Title</th>
        <th>Type</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% if records %}
        {% for record in records %}
        <tr>
            <th>{{record.title}}</td>
            <td>{% if record.is_income == 0%}Expense{% else %}Income{% endif%}</td>
            <td><a class="btn" style="background-color: {{record.category__color}};">{{record.category__name}}</a></td>
            <td>{{record.value}}</td>
            <td>{{record.datetime}}</td>
            <td><a class="btn btn-primary" href="/records/{{record.id}}/edit">Edit</a></td>
            <td><a class="btn btn-danger" href="/records/{{record.id}}/delete">Cancel</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>


{% endblock %}