{% extends "base.html" %}
{% block title %}Income{% endblock %}

{% block content %}
<div class="mx-auto" style="width: 30%">
    <div>
        <h1 style="text-align: center;">Income</h1>
    </div>

    <hr id="line" style="height: 1%;">

    <form method="post" action="/records/record" class="form-horizontal">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Enter name" value="{{form.title.value}}" foo>
        </div>
        <div class="mb-3">
            <label for="is_income" class="form-label">Type</label>
            <select class="form-control" name="is_income" id="is_income" value="{{form.is_income.value}}" foo>
                <option value=0>Expense</option>
                <option value=1>Income</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-control" name="category" id="category" foo>
                {% for category in categories %}
                <option
                    value={{category.id}}
                    style="background-color: {{category.color}};"
                    {% if form.category.value == category.id %}
                    selected
                    {% endif %}>{{category.name}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="value" class="form-label">Value ($)</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" name="value" id="value" placeholder="Enter ammount" value="{{form.value.value}}"
                    min="0.00" max="10000.00" step="100.00" pattern="\d+(\.\d{1,2})?" foo>
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Enter description" value="{{form.description.value}}">
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-danger" href="/records/">Cancel</a>
    </form>

</div>

<script>
    const select = document.getElementById('category');
    const line = document.getElementById('line');
    select.addEventListener('change', function () {
        const selectedOption = select.options[select.selectedIndex];
        select.style.backgroundColor = selectedOption.style.backgroundColor;
        line.style.backgroundColor = selectedOption.style.backgroundColor;
    });
    const defaultOption = select.options[select.selectedIndex];
    select.style.backgroundColor = defaultOption.style.backgroundColor;
    line.style.backgroundColor = defaultOption.style.backgroundColor;
</script>


{% endblock %}