{% extends "base.html" %}
{% block title %}Category{% endblock %}

{% block content %}
<div class="mx-auto col-10 col-md-4">
    <div>
        <h1 style="text-align: center;">Category</h1>
    </div>
    
    <hr id="line" style="height: 1%;">

    <form method="post" action="/records/categories/register" class="form-horizontal">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" value="{{form.name.value}}" required>
        </div>
        <div class="mb-3">
            <label for="color" class="form-label">Color</label>
            <select class="form-control" name="color" id="color" required>
                <option value="#EC7063" style="background-color: #EC7063;">#EC7063</option>
                <option value="#AF7AC5" style="background-color: #AF7AC5;">#AF7AC5</option>
                <option value="#5499C7" style="background-color: #5499C7;">#5499C7</option>
                <option value="#48C9B0" style="background-color: #48C9B0;">#48C9B0</option>
                <option value="#58D68D" style="background-color: #58D68D;">#58D68D</option>
                <option value="#F4D03F" style="background-color: #F4D03F;">#F4D03F</option>
                <option value="#DC7633" style="background-color: #DC7633;">#DC7633</option>
                <option value="#F0F3F4" style="background-color: #F0F3F4;">#F0F3F4</option>
                <option value="#AAB7B8" style="background-color: #AAB7B8;">#AAB7B8</option>
                <option value="#5D6D7E" style="background-color: #5D6D7E;">#5D6D7E</option>
            </select>
            
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Enter description" value="{{form.description.value}}" required>
        </div>
        

        <div class="mb-3">
            <button type="submit" class="btn btn-success">Save</button>
        
            <a class="btn btn-danger" href="/records/categories/">Cancel</a>
        </div>
        
    </form>
</div>

<script>
    const select = document.getElementById('color');
    const line = document.getElementById('line');
    select.addEventListener('change', function () {
        select.style.backgroundColor = select.value;
        line.style.backgroundColor = select.value;
    });
    select.style.backgroundColor = select.value;
    line.style.backgroundColor = select.value;
</script>
{% endblock %}