{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}FinancialLife{% endblock %}</title>

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">FinancialLife</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated%}
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/profile">Hi, {{user.first_name}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/records/incomes">Incomes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/records/expenses">Expenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/records/categories">Categories</a>
                        </li>    
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/logout">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/signin">Sign in</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% if messages %}
        {% for message in messages %}
        <div
            {% if message.tags == 'error' %} class="alert alert-danger"
            {% elif message.tags == 'success' or message.tags == 'warning' %} class="alert alert-{{ message.tags }}"
            {% else %} class="alert alert-info"
            {% endif %}>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <br>
        <br>

        {% block content %}
        {% endblock %}

        <br>
        <br>
    </body>
</html>