{% extends 'base.html' %}

{% block title %}Home{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% block content %}
<h4 class="text-center">Page in developing process...</h4>
<br>

{% if user.is_authenticated %}

<div class="mx-auto">
    <div class="col-12"><canvas id="records" style="width: 50%; height: 50%;"></canvas></div>
    <div class="row">
        <div class="col-6"><canvas id="expenses-by-category" style="width: 50%;"></canvas></div>
        <div class="col-6"><canvas id="incomes-by-category" style="width: 50%;"></canvas></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('records').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels : [{% for item in labels %}"{{ item }}",{% endfor %}],
            datasets: [{
                label: "Incomes and Expenses",
                data : [{% for item in values %}{{ item }},{% endfor %}],
            }]
        },
    });
</script>

<script>
    const ctx_expenses = document.getElementById('expenses-by-category').getContext('2d');
    const chart_expenses = new Chart(ctx_expenses, {
        type: 'bar',
        data: {
            labels : [{% for item3 in labels_expenses %}"{{ item3 }}",{% endfor %}],
            datasets: [{
                label: "Expenses by Category",
                data : [{% for item3 in values_expenses %}{{ item3 }},{% endfor %}],
            }]
        },
    });
</script>

<script>
    const ctx_incomes = document.getElementById('incomes-by-category').getContext('2d');
    const chart_incomes = new Chart(ctx_incomes, {
        type: 'bar',
        data: {
            labels : [{% for item2 in labels_incomes %}"{{ item2 }}",{% endfor %}],
            datasets: [{
                label: "Incomes by Category",
                data : [{% for item2 in values_incomes %}{{ item2 }},{% endfor %}],
            }]
        },
    });
</script>

{% endif %}


{% endblock %}